body{
    font-family: Arial, sans-serif;
    padding: 20px;
}

.producto{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

/*pseudoclases variables */

.producto:hover{
 background-color: #f9f9f9;
}

.producto button:active{
    transform: scale(0.95);
}